<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{mybuys}">Mis Ofertas</h2>
		<form class="navbar-form" action="/user/buys/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por nombre de oferta o descripción">
			</div>
			<button type="submit" class="btn btn-default" th:text="#{search}">Buscar</button>
		</form>

		<p th:text="#{buys.list.description}">Las ofertas que has hecho son las siguientes:</p>
		<button type="button" id="updateButton" class="btn btn-default"
			th:text="#{update}">Actualizar</button>
		<script th:inline="javascript">
				 /*<![CDATA[*/
				
				 $( "#updateButton" ).click(function() {
				 var numberPage = [[${param.page}]];
				 var urlUpdate = '/user/buys/list/update';
				 if (numberPage != null ){
				 urlUpdate += "?page="+numberPage[0];
				 }
				 $("#tableOffers").load(urlUpdate);
				 });
				 /*]]>*/
		</script>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableOffers"
				id="tableOffers">
				<thead>
					<tr>
						<th class="col-md-1">Id</th>
						<th th:text="#{name}">Name</th>
						<th th:text="#{date}">Date</th>
						<th th:text="#{price}">Price</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${offersList}">
						<td th:text="${offer.id}"></td>
						<td th:text="${offer.name}"></td>
						<td th:text="${offer.date}"></td>
						<td th:text="${offer.price}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		</tbody>
		</table>
	</div>
	<footer th:replace="fragments/pagination" />

	</div>
	<footer th:replace="fragments/footer" />
</body>
</div>

<footer th:replace="fragments/footer" />
</body>
</html>
